
#bottomRight {
    right: .5%;
    margin-top: 9vh;
    width: 27.75%;
    height: 78vh;
    overflow-y: auto;
    background: #DEDEDE;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .5);
    position: fixed;
}

  #bottomRight::-webkit-scrollbar {
        width: 8px;
    }

    #bottomRight::-webkit-scrollbar-track {
        background: #CCCCCC;
    }

    #bottomRight::-webkit-scrollbar-thumb {
        background: #000000;
        height: 1%;
    }

    #bottomRight::-webkit-scrollbar-button {
        background: #B5B5B5;
        height: 12px;
    }
#rightPane1 {
    width: 100%;
    height: 368px;
    margin-top: 0px;
    margin-left: 0px;
    background: #F8F8F8;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, .5);
    border: 1px solid #B6B6B6;
    position: absolute;
}

#rightPane2 {
    margin-top: 378px;
    margin-left: 0;
    width: 100%;
    height: 185px;
    background: #F8F8F8;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .5);
    border: 1px solid #B6B6B6;
    position: absolute;
}

#rightPane3 {
    margin-top: 573px;
    margin-left: 0;
    width: 100%;
    height: 385px;
    background: #F8F8F8;
    position: absolute;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, .5);
    border: 1px solid #B6B6B6;
}

.rightPaneTitles {
    margin-top: 10px;
    margin-left: 25px;
    text-align: left;
    font: 18px arial;
    color: #000000;
    position: absolute fixed;
}

.rightButtons {
    margin-left: 25px;
    margin-top: 10px;
    position: absolute fixed;
    font: 14px arial;
}

.activeRightButtons {
    border: 1px solid #000000;
    border-radius: 20px 0 0 20px;
    padding: 2px 5px 2px 5px;
    background: #333333;
    color: #FFFFFF;
    font: 14px arial;
}

.inactiveRightButtons {
    border: 1px solid #000000;
    border-radius: 0 20px 20px 0;
    padding: 2px 5px 2px 5px;
    background: -webkit-linear-gradient(#C8C8C8, #E5E5E5, #C8C8C8 );
}

    .inactiveRightButtons:hover {
        border: 1px solid #B6B6B6;
        background: -webkit-linear-gradient(#E5E5E5, #C8C8C8, #E5E5E5 );
        border-radius: 0 20px 20px 0;
        padding: 2px 5px 2px 5px;
    }

.centerRightButtons {
    border: 1px solid #000000;
    padding: 2px 5px 2px 5px;
     background: -webkit-linear-gradient(#C8C8C8, #E5E5E5, #C8C8C8 );
}

    .centerRightButtons:hover {
        border: 1px solid #B6B6B6;
        padding: 2px 5px 2px 5px;
       background: -webkit-linear-gradient(#E5E5E5, #C8C8C8, #E5E5E5 );
    }

#rightpane1Sections {
    margin-top: 5px;
    max-width: 18%;
    position: absolute;
}

.paneSections {
	margin-top: .25vh;
    font: 12px arial;
    margin-left: 4%;
    height: 55px;
    border-bottom: 1px solid #E8E8E8;
    max-width: 96%;
    text-indent: initial;
    padding-bottom: -8px;
    overflow-y: auto;
}

    .paneSections::-webkit-scrollbar {
        width: 8px;
    }

    .paneSections::-webkit-scrollbar-track {
        background: #CCCCCC;
    }

    .paneSections::-webkit-scrollbar-thumb {
        background: #000000;
        height: 1%;
    }

    .paneSections::-webkit-scrollbar-button {
        background: #B5B5B5;
        height: 12px;
    }

#paneSectionLast {
    margin-left: 4%;
    min-height: 30px;
    font: 10px arial;
    text-align: right;
    margin-right: 16px;
    color: #297884;
}

#viewRecent{
    margin-top: 12px;
}

#rightArrow {
    margin-left: 2px;
    position: absolute;
    padding-top: 1px;
}

.paneSection2 {
    font: 12px arial;
    margin-left: 4%;
    height: 55px;
    border-bottom: 1px solid #E8E8E8;
    max-width: 96%;
    text-indent: initial;
    padding-bottom: -8px;
    overflow-y: auto;
}

    .paneSection2::-webkit-scrollbar {
        width: 8px;
    }

    .paneSection2::-webkit-scrollbar-track {
        background: #CCCCCC;
    }

    .paneSection2::-webkit-scrollbar-thumb {
        background: #000000;
        height: 6px;
    }

    .paneSection2::-webkit-scrollbar-button {
        background: #B5B5B5;
        height: 12px;
    }


#reports {
    border: 1px solid #B6B6B6;
    border-radius: 20px 0 0 20px;
    padding: 2px 5px 2px 5px;
    background: #333333;
    color: #FFFFFF;
}

footer {
    width: 100%;
    height: 80px;
}

p{
    text-indent: 30px;
    padding: 8px 0 0 0;
    line-height: 150%;
}