/*Left Vertical Expanding Bar*/

#leftbar {
    left: 0;
    width: 5vw;
    height: 100%;
    top: 0;
    background-color: #000000;
    position: fixed;
}

a{
    text-decoration: none;
}

#lb {
    width: 18vw;
    background: #333333;
    border-radius: 0 16px 16px 0;
	height: 99.4vh;
	margin-top: -13.25vh;
	margin-left: -32.5vw;
    position: absolute;
}

#lbTitleBoxMD {
    height: 10vh;
    width: 18vw;
    margin-top: 0;
    margin-left: 0;
    background-color: #008000;
    border-radius: 0 16px 0 0;
    position: absolute;

}

#markets{
	margin-top: -10;
	color: #FFFFFF;
}

#advice{
    margin-left: 0;
	color:#FFFFFF;
	position: absolute;
}

#pm {
    margin-left: 1.5vw;
    margin-top: -7.5vh;
    color: #FFFFFF;
    font: 1.6vw Arial;
}

#leftBarIcon{
    margin-top: 100px;
    right: 400px;
}


.iconLeft {
    float: left;
    margin-left: 1vw;
    background: #000000;
    border: none;
    height: 8vh;
    width: 4vw;
    text-align: center;
}

.iconLeft:hover {
    float: left;
    margin-left: 1vw;
    background: #999999;
    border: none;
    height: 8vh;
    width: 4vw;
    text-align: center;
	border-radius: 80px;
}


#activeLeftIcon {
    float: left;
    margin-top: 5px;
    height: 60px;
    width: 60px;
    text-align: center;
}

#leftBarIconRight {
    margin-top: 1.5vh;
    margin-left: 12.6vw;
}

#lbList{
    margin-top: 4vh;
    color: #FFFFFF;
	width: 18vw;
}

.leftBarTextMain{
	margin-top: 2vh;
}


.leftBarText{
    margin-left: 1.5vw;
    font-size: 1.125vw;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e5e5e5;
}

.leftBarText:hover{
    margin-left: 1.5vw;
    font-size: 1.125vw;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
}
.leftBarText2{
    margin-top: 45px;
	margin-left: 15px;
    font: 18px arial;
    font-weight: 900;
    font-variant: small-caps;
    color: #008000;
}
#pointer{
    margin-top: 100px;
    margin-right: -5px;
    float: right;
    fill: #FFFFFF;
}

#lowerLeft{
    margin-top: 325px;
    margin-left: 0;
    width: 280px;
    height: 408px;
    border-radius: 0 0 16px 0;
    background: #000000;
    position: absolute;
}

#lowerLeftMenus{
    margin-left: -500px;
    height: 35px;
    width: 275px;
    margin-bottom: 1px;
    text-align: left;
    background: -webkit-linear-gradient(#FFFFFF, #ACACAC, #ACACAC);
    border: 0;
}

#lowerLeftMenus:hover{
    margin-left: -500px;
    height: 35px;
    width: 275px;
    margin-bottom: 1px;
    text-align: left;
    color: #FFFFFF;
    background: -webkit-linear-gradient(#FFFFFF, #595959, #595959);
    border: 0;
}

#droppedDownMenu{
    margin-left: 50px;    
}

/*Misc*/


