/* v2.6 */

#menuBar {
    margin-top: 70px;
    left: 0;
    right: 0;
    height: 40px;
    position: fixed;
}

li {
    display: inline;
}

#mainMenuTabs {
    margin-left: 6.75vw;
    width: 58vw;
    margin-top: 2px;
}

.inactiveMainMenuTab {
    color: #000000;
    font: .75vw arial;
    height: 4vh;
    text-align: center;
    background: -webkit-linear-gradient(#C8C8C8, #E5E5E5, #C8C8C8 );
}

    .inactiveMainMenuTab:hover {
        color: #000000;
        font: .75vw arial;
        height: 4vh;
        text-align: center;
        background: -webkit-linear-gradient(#E5E5E5, #C8C8C8, #E5E5E5 );
    }

#house {
    padding-bottom: 8px;
}

#briefcase {
    padding-bottom: 8px;
}

#inactiveMainMenuTab2 {
    margin-top: -34px;
    margin-left: 88%;
    width: auto;
    background: #297884;
    color: #FFFFFF;
    height: 40px;
    padding: 8px 0 0 0;
}

#mainMenuInput {
    margin-left: -60px;
    margin-top: -1px;
    width: 180px;
}

#mainMenuMagna {
    margin-left: 125px;
    margin-top: -24px;
    position: absolute;
}
